.courses-section {
    padding: 150px 0 70px 0;
    background: #fff;
    .course-carousel {
        .item {
            background: #fff;
            border-radius: 10px;
            // -webkit-box-shadow: 0 -20px 27px 0 rgba(0, 0, 0, 0.05);
            // -moz-box-shadow: 0 -20px 27px 0 rgba(0, 0, 0, 0.05);
            box-shadow: rgba(0, 0, 0, 0.04) 4px 3px 6px;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.071);
            border-radius: 1rem;
            .course-info {
                padding: 20px 15px;
                .tags {
                    span {
                        background: #eee;
                        padding: 5px 10px;
                        font-size: 12px;
                        border-radius: 20px;
                        margin-right: 7px;
                    }
                }
                .course-title {
                    margin-top: 12px;
                    margin-left: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    height: 66px;
                    margin-bottom: 0;
                }
            }
            img {
                height: 200px;
                object-fit: cover;
                width: 100%;
                padding: 10px;
                border-radius: 15px;
            }
            .bottom {
                border-top: 1px solid #eee;
                padding-top: 15px;
                display: flex;
                justify-content: space-between;
                .author {
                    font-size: 14px;
                    font-weight: 400;
                    i {
                        color: $green;
                        margin-right: 5px;
                    }
                }
                .hours {
                    font-size: 14px;
                    font-weight: 400;
                    i {
                        color: $yellow;
                        margin-right: 5px;
                    }
                }
            }
        }
        .owl-nav {
            text-align: center;
            margin-top: 30px;
            font-size: 32px;
            button {
                margin: 0 7px;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}