$orange: #f6511d;
$yellow: #ffb400;
$green: #7fb800;
$lightgrey: #f1f7ed;
$black: #454545;
$cyan: #05b59d;
$kblue: #065b89;
$kum: 'Kumbh Sans',
sans-serif;
:root {
    --thm-font: 'Kumbh Sans', sans-serif;
    --thm-reey-font: 'reeyregular';
    --thm-base: #4d5fe3;
    --thm-base-rgb: 77, 95, 227;
    --thm-primary: #ffd45f;
    --thm-primary-rgb: 255, 212, 95;
    --thm-gray: #757783;
    --thm-gray-rgb: 117, 119, 131;
    --thm-black: #1c1e27;
    --thm-black-rgb: 28, 30, 39;
}